# Virtual environment folder (assuming it’s named "venv")
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django migrations
# migrations/

# PyCharm project files
.idea/

# OS specific files
.DS_Store
Thumbs.db
