# Virtual environment folder (assuming it’s named "venv")
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django migrations
# migrations/
project/db.sqlite3

# PyCharm project files
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Local Specific Database
db.sqlite3

# IntelliJ
*.iml
.idea/