<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Instructor Dashboard</title>
</head>
<body>

<h1>Instructor Dashboard</h1>
<p>
    Welcome, {{ request.user.username }}!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
</p>

<table>
    <tr><th>Title</th><th>Seats</th><th>Instructor</th><th>Actions</th></tr>
    {% for course in courses %}
      <tr>
        <td>{{ course.title }}</td>
        <td>{{ course.seat_limit }}</td>
        <td>{{ course.instructor }}</td>
        <td><a href="{% url 'instructor-manage-enrollments' course.id %}">Manage Enrollments</a>
            <a href="{% url 'instructor-update-course' course.id %}">Update Course</a></td>
      </tr>
    {% empty %}
      <tr><td colspan="4">No courses defined.</td></tr>
    {% endfor %}
  </table>

</body>
</html>